<template>
    <b-nav-item-dropdown v-if="isAuthenticated" right>
        <template slot="button-content">
            <i class="fas fa-user"></i>
        </template>
        <b-dropdown-item to="/account" v-if="isCustomer">
            <i class="fas fa-user"></i>
            My Account
        </b-dropdown-item>
        <b-dropdown-item to="/admin" v-if="isAdmin">
            <i class="fas fa-user"></i>
            Admin Panel
        </b-dropdown-item>
        <b-dropdown-item @click="logout">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </b-dropdown-item>
    </b-nav-item-dropdown>
    <b-nav-item v-else @click="login">
        <i class="fas fa-user"></i>
        Login / register
    </b-nav-item>
</template>

<script>
    export default {
        name: "auth-nav-item",
        computed: {
            isAuthenticated() {
                return this.$store.getters['user/isAuthenticated'];
            },
            isCustomer() {
                return this.$store.getters["user/isInRole"]("Customer");
            },
            isAdmin() {
                return this.$store.getters["user/isInRole"]("Admin");
            },
        },
        methods: {
            login() {
                this.$store.commit("user/showAuthModal");
            },
            logout() {
                this.$store.dispatch("user/logout").then(() => {
                    if (this.$route.matched.some(route => route.meta.requiresAuth)) {
                        this.$router.push("/");
                    }
                });
            }
        }
    };
</script>
