<template>
  <b-container fluid class="page">
    <b-row>
      <b-col cols="3">
        <filters v-if="filters.brands.length" :filters="filters"/>
      </b-col>
      <b-col cols="9">
        <div class="mt-4 clearfix">
          <search-bar class="search"/>
          <product-sort class="float-right"/>
        </div>
        <product-list v-if="products.length" :products="sortedProducts" />
      </b-col>
    </b-row>
  </b-container>  
</template>

<script>
import ProductList from "../components/catalogue/ProductList.vue";
import Filters from "../components/catalogue/Filter.vue";
import axios from "axios";
import ProductSort from "../components/catalogue/ProductSort.vue";
import SearchBar from "../components/catalogue/SearchBar.vue";

export default {
  name: "catalogue",
  components: {
    ProductList,
    Filters,
    ProductSort,
    SearchBar
  },
  data() {
    return {
      products: [],
      filters: {
        brands: [],
        capacity: [],
        colours: [],
        os: [],
        features: []
      },
    };
  },
  computed:{
    sort(){
      return this.$route.query.sort || 0;
    },
    sortedProducts(){      
      switch (this.sort) {
        case 1:
          return this.products.sort((a, b) => {
            if(b.price < a.price){
              return -1;
            }
            if(b.price > a.price){
              return 1;
            }
            return 0;            
          });
          break;
        case 2:
          return this.products.sort((a, b) => {            
            if(a.name < b.name){
              return -1;
            }
            if(a.name > b.name){
              return 1;
            }
            return 0;
          });
          break;
        case 3:
          return this.products.sort((a, b) => {
            if(b.name < a.name){
              return -1;
            }
            if(b.name > a.name){
              return 1;
            }
            return 0;
          });
          break;
        default:
          return this.products.sort((a, b) => {            
            if(a.price < b.price){
              return -1;
            }
            if(a.price > b.price){
              return 1;
            }
            return 0;
          });
      }
    }
  },
  methods:{
    setData(products, filters){
      this.products = products;
      this.filters = filters;      
    }
  },
  beforeRouteEnter(to, from, next){//run before we navigate to this component
    axios
      .all([
        axios.get('/api/products', {params: to.query}),
        axios.get('/api/filters')
      ])
      .then(
        axios.spread((products, filters) => {
          next(vm => vm.setData(products.data, filters.data))
        })
      );
  },  
  beforeRouteUpdate(to, from, next){
    axios.get('/api/products', {params: to.query}).then(response => {
      this.products = response.data;
      next();
    });
  }
};
</script>


<style lang="scss" scoped>
  .flex{
    display: flex;
    flex-direction: row;

    .search{
      flex: 1;
    }
  }
</style>
