<template>
  <product-details v-if="product" :product="product" />
</template>

<script>
import ProductDetails from "../components/product/Details.vue";
import axios from "axios";

export default {
  name: "product",
  components: {
    ProductDetails
  },
  data() {
    return {
      product: null
    };
  },
  beforeRouteEnter(to, from, next){//run before we navigate to this component
    axios.get(`/api/products/${to.params.slug}`).then(response => {
      next(vm => vm.setData(response.data))
    });
  },  
  methods:{
    setData(product){
      this.product = product;
    }
  }
};
</script>
