<template>
  <div class="app">
    <b-navbar toggleable="md" type="dark" variant="dark" fixed="top">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand to="/">MobileShop</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item to="/products">Products</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto mr-4">
          <cart-summary v-if="isCustomer"/><!--cart summary-->
          <auth-nav-item/> <!--account naviagtion link-->
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>

    <auth-modal :show="showAuthModal"/>
  </div>
</template>


<script>
import CartSummary from "./cart/CartSummary.vue";
import AuthModal from "./app/AuthModal.vue";
import AuthNavItem from "./app/AuthNavItem.vue";

export default {
  name: "App",
  components: {
    CartSummary,
    AuthModal,
    AuthNavItem
  },  
  computed:{
     isCustomer() {             
      return this.$store.getters["user/isInRole"]("Customer") ||
        !this.$store.getters["user/isAuthenticated"] 
    },
    showAuthModal(){
      return this.$store.state.user.showAuthModal;
    }
  }
};
</script>


<style lang="scss">
html,
body {
  height: 100vh;
  margin-top:30px;
}

div.app,
div.page {
  height: 100% !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.notificationCenter{
  z-index: 99999;
}
</style>