<template>
  <b-nav-item id="Cart" to="/cart">
    <i class="fas fa-shopping-cart"></i>
    Cart ({{ count }})

    <b-popover target="Cart" triggers="hover">
      <div>
        Items: {{ count }}
      </div>
      <div>
        Total: {{ total | currency }}
      </div>
    </b-popover>
  </b-nav-item>
</template>

<script>
export default {
    name:"cart-summary",
    computed: {
        //...mapGetters('cart', ['shoppingCartItemCount']),
        count(){
            return this.$store.getters['cart/shoppingCartItemCount'];
        },
        total(){
            return this.$store.getters['cart/shoppingCartTotal'];
        }
    }
}
</script>

<style lang="scss" scoped>

</style>