<template>
    <order-list :orders="orders"/>
</template>

<script>
import axios from "axios";
import OrderList from '../../components/shared/OrderList.vue';

export default {
    name: "orders",
    data(){
        return {
            orders: null
        }
    },
    components:{
        OrderList
    },
    methods:{
        setData(orders){
            this.orders = orders;
        }
    },
    beforeRouteEnter(to, from, next){
        const vm = this;

        axios.get("/api/orders").then(response => {
            next(vm => vm.setData(response.data))
        });
    }
}
</script>
